language: node_js
node_js:
  - "10"
dist: trusty
sudo: required
addons:
  chrome: stable
script: npm run build && npm test && npm run test:permutations
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"

# Deploy github pages
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: docs
  # on:
  #   branch: master